ci:
  skip: [detect-aws-credentials, pylint]
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks.git
    rev: v4.4.0
    hooks:
      - id: check-added-large-files
        args: [--maxkb=100]
      - id: check-ast
      - id: check-merge-conflict
      - id: check-toml
      - id: check-yaml
      - id: debug-statements
      - id: detect-aws-credentials
      - id: detect-private-key
      - id: end-of-file-fixer
      - id: mixed-line-ending
        args: [--fix=lf]
      - id: no-commit-to-branch
        args: [--branch=main]
      - id: requirements-txt-fixer
      - id: trailing-whitespace
  - repo: https://github.com/sigopt/sigopt-tools.git
    rev: "v0.0.2"
    hooks:
      - id: copyright-license-disclaimer
        args: ["--license=Apache License 2.0", "--owner=Intel Corporation"]
      - id: sigoptlint-python
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.9.0
    hooks:
      - id: ruff
        args: [ --fix ]
      - id: ruff-format
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: "v1.3.0"
    hooks:
      - id: mypy
        entry: mypy
        additional_dependencies:
          - types-mock
